<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ja"
      xmlns="http://www.w3.org/1999/xhtml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title></title>
    <meta charset="UTF-8">
    <meta name="author" content="著者情報">
    <meta name="description" content="記事の概要">
    <!-- OGP -->
    <meta property="og:description" content="記事の概要">
    <meta property="og:title" content="">
    <meta property="og:url" content="http://example.com">
    <meta property="og:image" content="http://example.com/images/thumbnail.png">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="EXAMPLE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="publisher" href="//plus.google.com/00000000000">
    <link rel="icon" href="/icon/favicon.ico">
    <link rel="apple-touch-icon" href="/icon/icon.png">
    <link rel="alternate" type="application/rss+xml" href="http://example.com/feed">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="../../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"/>
    <!-- bootstrap-datepicker -->
    <link rel="stylesheet" type="text/css"
          href="../../static/css/bootstrap-datepicker.min.css"
          th:href="@{/css/bootstrap-datepicker.min.css}"/>
    <style type="text/css" th:replace="./common/_temp :: css"></style>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<div th:fragment="base">
    <div class="table-responsive col-lg-12 form-group">
        <table class="table table-striped table-hover table-bordered">
            <tbody>
            <tr>
                <th class="success">#</th>
                <th class="warning"
                    th:each="num : ${selectNums}"
                    th:text="${num}"
                    th:value="${num}"></th>
            </tr>
            <tr th:each="Cells : ${selectCells}" th:object="${Cells}">
                <th class="warning" th:text="*{get(0).substring(0,1)}">1</th>
                <div th:each="cell : ${Cells}" th:object="${cell}"
                     th:with="cellValue=${playForm[cell]}">
                    <td th:unless="${cellValue}=='0'" class="successLock"
                        th:id="${cell}" th:name="${cell}" th:text="${cellValue}"></td>
                    <input type="hidden" th:unless="${cellValue}=='0'"
                           th:id="${cell}" th:name="${cell}" th:value="${cellValue}"/>
                    <td th:if="${cellValue}=='0'" th:id="${cell}" th:name="${cell}">
                        <select class="form-control" th:id="${cell}" th:name="${cell}"
                                data-error="セレクトボックスは必須選択です。"
                                th:data-error="#{cell.input.required}"
                                required>
                            <option value="">---</option>
                            <option th:each="num : ${selectNums}"
                                    th:text="${num}" th:value="${num}"
                                    th:selected="${num}==${cell}">pulldown
                            </option>
                        </select>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
        <div class="help-block with-errors"/>
    </div>
</div>

</html>