<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title></title>
    <meta charset="UTF-8">
    <meta content="著者情報" name="author">
    <meta content="記事の概要" name="description">
    <!-- OGP -->
    <meta content="記事の概要" property="og:description">
    <meta content="" property="og:title">
    <meta content="http://example.com" property="og:url">
    <meta content="http://example.com/images/thumbnail.png" property="og:image">
    <meta content="article" property="og:type">
    <meta content="EXAMPLE" property="og:site_name">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="//plus.google.com/00000000000" rel="publisher">
    <link href="/icon/favicon.ico" rel="icon">
    <link href="/icon/icon.png" rel="apple-touch-icon">
    <link href="http://example.com/feed" rel="alternate" type="application/rss+xml">
    <!-- bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}"
          type="text/css"/>
    <style th:replace="./common/_temp :: css" type="text/css"></style>
</head>

<div th:fragment="base">
    <div class="bs-component" th:if="${content} != null">
        <form action="#" autocomplete="off" class="form-horizontal" id="searchForm" method="post"
              th:action="@{/isSearch}" th:object="${searchForm}">
            <input th:id="selectType" th:name="selectType" th:value="*{selectType}" type="hidden"/>
            <input th:id="no" th:name="no" th:value="*{no}" type="hidden"/>
            <input th:id="selectorNo" th:name="selectorNo" th:value="*{selectorNo}" type="hidden"/>
            <input th:id="keyHash" th:name="keyHash" th:value="*{keyHash}" type="hidden"/>
            <input th:id="selectorKeyHash" th:name="selectorKeyHash" th:value="*{selectorKeyHash}" type="hidden"/>
            <input th:id="score" th:name="score" th:value="*{score}" type="hidden"/>
            <input th:id="selectorScore" th:name="selectorScore" th:value="*{selectorScore}" type="hidden"/>
            <input th:id="name" th:name="name" th:value="*{name}" type="hidden"/>
            <input th:id="selectorName" th:name="selectorName" th:value="*{selectorName}" type="hidden"/>

            <input th:id="pageSize" th:name="pageSize" th:value="${pageSize}" type="hidden"/>
            <input th:id="totalElements" th:name="totalElements" th:value="${totalElements}" type="hidden"/>
            <input th:id="totalPages" th:name="totalPages" th:value="${totalPages}" type="hidden"/>
            <input th:id="pageNumber" th:name="pageNumber" th:value="${pageNumber}" type="hidden"/>

            <div class="text-center">
                <ul class="pagination">
                    <li th:attr="style=${hiddenPrev} ? 'visibility:hidden'">
                        <button class="btn btn-default" th:id="pagination-prev" type="button">&#171;
                        </button>
                    </li>
                </ul>

                <ul class="pagination">
                    <li th:attr="style=${hiddenNext} ? 'visibility:hidden'">
                        <button class="btn btn-default" th:id="pagination-next" type="button">&#187;
                        </button>
                    </li>
                </ul>
            </div>

            <table class="table table-condensed table-bordered table-striped">
                <tbody>
                <tr class="info">
                    <th>#</th>
                    <th>no</th>
                    <th>type</th>
                    <th>keyHash</th>
                    <th>score</th>
                    <th>name</th>
                    <th>memo</th>
                    <th>date</th>
                </tr>
                <tr th:each="record, recordStat : ${content}" th:object="${record}">
                    <td align="left" th:text="${recordStat.count}">Sequence</td>
                    <td align="right" th:text="${record.no}">No</td>
                    <td align="right" th:text="${record.type}">Type</td>
                    <td align="left">
                        <a charset="UTF-8" href="detail.html"
                           hreflang="ja"
                           th:href="@{/detail(type=${record.type},keyHash=${record.keyHash})}">
                            リンクはこちら
                        </a>
                    </td>
                    <td align="right" th:text="${record.score}">Score</td>
                    <td align="left" th:text="${record.name}">Name</td>
                    <td align="left" th:text="${record.memo}">Memo</td>
                    <td align="left" th:text="${#temporals.format(record.updateDate,'yyyy年MM月dd日')}">Date</td>
                </tr>
                </tbody>
            </table>
        </form>

        <script th:inline="javascript" type="text/javascript">
            /*<![CDATA[*/
            $('#pagination-prev').click(function () {
                setPagenation(/*[[ ${pageNumber - 1} ]]*/,/*[[ ${pageSize} ]]*/);
                $('#searchForm').submit();
            });

            $('#pagination-next').click(function () {
                setPagenation(/*[[ ${pageNumber + 1} ]]*/,/*[[ ${pageSize} ]]*/);
                $('#searchForm').submit();
            });

            function setPagenation(pageNumber, pageSize) {
                $('#pageNumber').val(pageNumber);
                $('#pageSize').val(pageSize);
            }

            /*]]>*/
        </script>
    </div>
</div>

</html>