<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ja"
      xmlns="http://www.w3.org/1999/xhtml">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title></title>
    <meta charset="UTF-8">
    <meta name="author" content="著者情報">
    <meta name="description" content="記事の概要">
    <!-- OGP -->
    <meta property="og:description" content="記事の概要">
    <meta property="og:title" content="">
    <meta property="og:url" content="http://example.com">
    <meta property="og:image" content="http://example.com/images/thumbnail.png">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="EXAMPLE">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="publisher" href="//plus.google.com/00000000000">
    <link rel="icon" href="/icon/favicon.ico">
    <link rel="apple-touch-icon" href="/icon/icon.png">
    <link rel="alternate" type="application/rss+xml" href="http://example.com/feed">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="../../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"/>
    <!-- bootstrap-datepicker -->
    <link rel="stylesheet" type="text/css"
          href="../../static/css/bootstrap-datepicker.min.css"
          th:href="@{/css/bootstrap-datepicker.min.css}"/>
    <style type="text/css" th:replace="./common/_temp :: css"></style>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<div th:fragment="base">
    <div th:if="${page} != null" class="bs-component">
        <form class="form-horizontal" id="searchForm" method="post" action="#" th:action="@{/isSearch}"
              th:object="${searchForm}" autocomplete="off">
            <input type="hidden" th:id="selectType" th:name="selectType" th:value="*{selectType}"/>
            <input type="hidden" th:id="no" th:name="no" th:value="*{no}"/>
            <input type="hidden" th:id="selectorNo" th:name="selectorNo" th:value="*{selectorNo}"/>
            <input type="hidden" th:id="keyHash" th:name="keyHash" th:value="*{keyHash}"/>
            <input type="hidden" th:id="selectorKeyHash" th:name="selectorKeyHash" th:value="*{selectorKeyHash}"/>
            <input type="hidden" th:id="score" th:name="score" th:value="*{score}"/>
            <input type="hidden" th:id="selectorScore" th:name="selectorScore" th:value="*{selectorScore}"/>
            <input type="hidden" th:id="name" th:name="name" th:value="*{name}"/>
            <input type="hidden" th:id="selectorName" th:name="selectorName" th:value="*{selectorName}"/>
            <input type="hidden" th:id="pageNumber" th:name="pageNumber" th:value="${page.number}"/>
            <input type="hidden" th:id="pageSize" th:name="pageSize" th:value="${page.size}"/>
            <div class="text-center">
                <ul class="pagination">
                    <li th:attr="style=${ph.hiddenPrev} ? 'visibility:hidden'">
                        <button type="button" class="btn btn-default" th:id="pagination-prev">&#171;
                        </button>
                    </li>
                </ul>
                <ul class="pagination">
                    <li th:class="${ph.activePage1} ? 'active'">
                        <button type="button" class="btn btn-default" th:id="pagination-1"
                                th:text="${ph.page1PageValue + 1}">1
                        </button>
                    </li>
                    <li th:class="${ph.activePage2} ? 'active'" th:attr="style=${ph.hiddenPage2} ? 'visibility:hidden'">
                        <button type="button" class="btn btn-default" th:id="pagination-2"
                                th:text="${ph.page1PageValue + 2}">2
                        </button>
                    </li>
                    <li th:class="${ph.activePage3} ? 'active'" th:attr="style=${ph.hiddenPage3} ? 'visibility:hidden'">
                        <button type="button" class="btn btn-default" th:id="pagination-3"
                                th:text="${ph.page1PageValue + 3}">3
                        </button>
                    </li>
                </ul>
                <ul class="pagination">
                    <li th:attr="style=${ph.hiddenNext} ? 'visibility:hidden'">
                        <button type="button" class="btn btn-default" th:id="pagination-next">&#187;
                        </button>
                    </li>
                </ul>
            </div>

            <table class="table table-condensed table-bordered table-striped">
                <tbody>
                <tr class="info">
                    <th>#</th>
                    <th>no</th>
                    <th>type</th>
                    <th>keyHash</th>
                    <th>score</th>
                    <th>name</th>
                    <th>memo</th>
                    <th>date</th>
                </tr>
                <tr th:each="record, recordStat : ${page}" th:object="${record}">
                    <td align="left" th:text="${recordStat.count}">Sequence</td>
                    <td align="right" th:text="${record.no}">No</td>
                    <td align="right" th:text="${record.type}">Type</td>
                    <td align="left">
                        <a charset="UTF-8" hreflang="ja"
                           href="detail.html"
                           th:href="@{/detail(type=${record.type},keyHash=${record.keyHash})}">
                            リンクはこちら
                        </a>
                    </td>
                    <td align="right" th:text="${record.score}">Score</td>
                    <td align="left" th:text="${record.name}">Name</td>
                    <td align="left" th:text="${record.memo}">Memo</td>
                    <td align="left" th:text="${record.memo}">Memo</td>
                </tr>
                </tbody>
            </table>
        </form>
        <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
            $('#pagination-prev').click(function() {
                setPagenation(/*[[ ${page.number - 1} ]]*/,/*[[ ${page.size} ]]*/);
                $('#searchForm').submit();
            });
            $('#pagination-1').click(function() {
                setPagenation(/*[[ ${ph.page1PageValue} ]]*/,/*[[ ${page.size} ]]*/);
                $('#searchForm').submit();
            });
            $('#pagination-2').click(function() {
                setPagenation(/*[[ ${ph.page1PageValue + 1} ]]*/,/*[[ ${page.size} ]]*/);
                $('#searchForm').submit();
            });
            $('#pagination-3').click(function() {
                setPagenation(/*[[ ${ph.page1PageValue + 2} ]]*/,/*[[ ${page.size} ]]*/);
                $('#searchForm').submit();
            });
            $('#pagination-next').click(function() {
                setPagenation(/*[[ ${page.number + 1} ]]*/,/*[[ ${page.size} ]]*/);
                $('#searchForm').submit();
            });
            function setPagenation(pageNumber,pageSize) {
                $('#pageNumber').val(pageNumber);
                $('#pageSize').val(pageSize);
            }
        /*]]>*/
        </script>
    </div>
</div>

</html>