<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>completeNumberPlace</title>
    <meta charset="UTF-8">
    <meta content="著者情報" name="author">
    <meta content="記事の概要" name="description">
    <!-- OGP -->
    <meta content="記事の概要" property="og:description">
    <meta content="記事タイトル" property="og:title">
    <meta content="http://example.com" property="og:url">
    <meta content="http://example.com/images/thumbnail.png" property="og:image">
    <meta content="article" property="og:type">
    <meta content="EXAMPLE" property="og:site_name">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="//plus.google.com/00000000000" rel="publisher">
    <link href="/icon/favicon.ico" rel="icon">
    <link href="/icon/icon.png" rel="apple-touch-icon">
    <link href="http://example.com/feed" rel="alternate" type="application/rss+xml">
    <!-- bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}"
          type="text/css"/>
    <!-- bootstrap-datepicker -->
    <link href="../static/css/bootstrap-datepicker.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap-datepicker.min.css}"
          type="text/css"/>
    <style th:replace="./common/_temp :: css" type="text/css"></style>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div th:replace="./common/_temp :: script"/>
<div class="container">
    <nav th:replace="./common/_temp :: nav"/>
    <div class="bs-docs-section">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">セレクト</li>
                <li class="breadcrumb-item">プレイ</li>
                <li class="breadcrumb-item active">スコア</li>
            </ol>
        </div>
        <div class="col-lg-12">
            <div class="well bs-component">
                <form action="#" autocomplete="off" class="form-horizontal" id="scoreForm" method="post"
                      th:action="@{/bestScore}" th:object="${scoreForm}">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">
                                <li th:text="貴方の結果">貴方の結果</li>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item" th:text="'スコア:'+${scoreForm.score}+'点'">スコア:2000点</li>
                                    <li class="breadcrumb-item" th:text="'カウント:'+${scoreForm.count}+'回'">カウント:1回</li>
                                </ol>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">
                                <li th:text="ベストスコア">ベストスコア</li>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item" th:text="'スコア:'+${hiScore}+'点'">スコア:2000点</li>
                                    <li class="breadcrumb-item" th:text="'ネーム:'+${scoreForm.name}">ネーム:aaaa</li>
                                    <li class="breadcrumb-item" th:text="'一言:'+${scoreForm.memo}">一言:bbbb</li>
                                </ol>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                上記メニューより遊ぶか、下記のリンクより進んでください。
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
