<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>bestScore</title>
    <meta charset="UTF-8">
    <meta content="著者情報" name="author">
    <meta content="記事の概要" name="description">
    <!-- OGP -->
    <meta content="記事の概要" property="og:description">
    <meta content="記事タイトル" property="og:title">
    <meta content="http://example.com" property="og:url">
    <meta content="http://example.com/images/thumbnail.png" property="og:image">
    <meta content="article" property="og:type">
    <meta content="EXAMPLE" property="og:site_name">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="//plus.google.com/00000000000" rel="publisher">
    <link href="/icon/favicon.ico" rel="icon">
    <link href="/icon/icon.png" rel="apple-touch-icon">
    <link href="http://example.com/feed" rel="alternate" type="application/rss+xml">
    <!-- bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}"
          type="text/css"/>
    <!-- bootstrap-datepicker -->
    <link href="../static/css/bootstrap-datepicker.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap-datepicker.min.css}"
          type="text/css"/>
    <style th:replace="./common/_temp :: css" type="text/css"></style>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div th:replace="./common/_temp :: script"/>

<div class="container">
    <div th:replace="./common/_temp :: nav"/>
    <div class="bs-docs-section">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li class="active">リンク</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <div class="well bs-component">
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/autoconfig}">
                    autoconfig
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/auditevents}">
                    auditevents
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/beans}">
                    beans
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/configprops}">
                    configprops
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/dump}">
                    dump
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/env}">
                    env
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/heapdump}">
                    heapdump
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/health}">
                    health
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/loggers}">
                    loggers
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/metrics}">
                    metrics
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/mappings}">
                    mappings
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/trace}">
                    trace
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/flyway}">
                    flyway
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/logfile}">
                    logfile
                </a>
                <a charset="UTF-8" href="linkList.html"
                   hreflang="ja"
                   th:href="@{/info}">
                    info
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>