<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title>searchAnswer</title>
    <meta charset="UTF-8">
    <meta content="著者情報" name="author">
    <meta content="記事の概要" name="description">
    <!-- OGP -->
    <meta content="記事の概要" property="og:description">
    <meta content="searchAnswer" property="og:title">
    <meta content="http://example.com" property="og:url">
    <meta content="http://example.com/images/thumbnail.png" property="og:image">
    <meta content="article" property="og:type">
    <meta content="EXAMPLE" property="og:site_name">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="//plus.google.com/00000000000" rel="publisher">
    <link href="/icon/favicon.ico" rel="icon">
    <link href="/icon/icon.png" rel="apple-touch-icon">
    <link href="http://example.com/feed" rel="alternate" type="application/rss+xml">
    <!-- bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}"
          type="text/css"/>
    <style th:replace="./common/_temp :: css" type="text/css"></style>
    <!-- tempusdominus-bootstrap-4 -->
    <link href="../static/css/tempusdominus-bootstrap-4.css" rel="stylesheet"
          th:href="@{/css/tempusdominus-bootstrap-4.css}"
          type="text/css"/>
    <style th:replace="./common/_temp :: css-date-picker" type="text/css"></style>
</head>

<body>

<div th:replace="./common/_temp :: script"/>

<div class="container">
    <nav th:replace="./common/_temp :: nav"/>
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">検索</li>
                </ol>
            </div>
        </div>
        <div class="well bs-component">
            <form action="#" autocomplete="off" class="form-horizontal" data-toggle="validator" id="searchForm"
                  method="post" th:action="@{/isSearch}" th:object="${searchForm}">
                <fieldset>
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <div class="col-lg-2"></div>
                            <label class="col-lg-2 control-label" for="selectType">タイプ</label>
                            <div class="col-lg-4">
                                <select class="form-control" data-error="セレクトボックスは必須選択です。" id="selectType"
                                        required
                                        th:data-error="#{selectType.input.required}"
                                        th:name="selectType">
                                    <option value="">---</option>
                                    <option th:each="type : ${selectTypes}"
                                            th:selected="${type.value} == *{selectType}"
                                            th:text="${type.key}"
                                            th:value="${type.value}">pulldown
                                    </option>
                                </select>
                                <span class="help-block" th:errors="*{selectType}"
                                      th:if="${#fields.hasErrors('selectType')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-2"></div>
                            <label class="col-lg-2 control-label" for="no">No</label>
                            <div class="col-lg-4">
                                <input class="form-control" data-error="Noは半角数字のみです。" id="no" max="9999999999"
                                       min="0" placeholder="Noを入力してください。" step="1"
                                       th:data-error="#{no.input.error}" th:field="*{no}"
                                       th:name="no"
                                       type="number"/>
                                <span class="help-block" th:errors="*{no}"
                                      th:if="${#fields.hasErrors('no')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" data-error="特に不要であれば初期値を選択してください。" required
                                        th:data-error="#{selectorNo.input.required}"
                                        th:id="selectorNo"
                                        th:name="selectorNo">
                                    <option value="0">---</option>
                                    <option th:each="noCompare : ${selectorNo}"
                                            th:selected="${noCompare.value} == *{selectorNo}"
                                            th:text="${noCompare.key}"
                                            th:value="${noCompare.value}">pulldown
                                    </option>
                                </select>
                                <span class="help-block" th:errors="*{selectorNo}"
                                      th:if="${#fields.hasErrors('selectorNo')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-2"></div>
                            <label class="col-lg-2 control-label" for="keyHash">Keyhash</label>
                            <div class="col-lg-4">
                                <input class="form-control" data-error="KeyHashは半角英数字のみです。" id="keyHash" maxlength="64"
                                       pattern="[a-zA-Z0-9]{1,64}"
                                       placeholder="KeyHashを入力してください。" th:data-error="#{keyHash.input.error}"
                                       th:field="*{keyHash}"
                                       th:name="keyHash"
                                       type="search"/>
                                <span class="help-block" th:errors="*{keyHash}" th:if="${#fields.hasErrors('keyHash')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" data-error="特に不要であれば初期値を選択してください" required
                                        th:data-error="#{selectorKeyHash.input.required}"
                                        th:id="selectorKeyHash"
                                        th:name="selectorKeyHash">
                                    <option value="0">---</option>
                                    <option th:each="keyHashCompare : ${selectorKeyHash}"
                                            th:selected="${keyHashCompare.value} == *{selectorKeyHash}"
                                            th:text="${keyHashCompare.key}"
                                            th:value="${keyHashCompare.value}">pulldown
                                    </option>
                                </select>
                                <span class="help-block" th:errors="*{selectorKeyHash}"
                                      th:if="${#fields.hasErrors('selectorKeyHash')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-2"></div>
                            <label class="col-lg-2 control-label" for="score">Score</label>
                            <div class="col-lg-4">
                                <input class="form-control" data-error="Scoreは半角数字のみです。" id="score" max="9999999"
                                       min="0"
                                       placeholder="Scoreを入力してください。" step="1"
                                       th:data-error="#{score.input.error}" th:field="*{score}"
                                       th:name="score"
                                       type="number"/>
                                <span class="help-block" th:errors="*{score}" th:if="${#fields.hasErrors('score')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" data-error="特に不要であれば初期値を選択してください" required
                                        th:data-error="#{selectorScore.input.required}"
                                        th:id="selectorScore"
                                        th:name="selectorScore">
                                    <option value="0">---</option>
                                    <option th:each="scoreCompare : ${selectorScore}"
                                            th:selected="${scoreCompare.value} == *{selectorScore}"
                                            th:text="${scoreCompare.key}"
                                            th:value="${scoreCompare.value}">pulldown
                                    </option>
                                </select>
                                <span class="help-block" th:errors="*{selectorScore}"
                                      th:if="${#fields.hasErrors('selectorScore')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-2"></div>
                            <label class="col-lg-2 control-label" for="name">Name</label>
                            <div class="col-lg-4">
                                <input class="form-control" data-error="Nameに不要な記号が入力されています。" id="name" maxlength="64"
                                       pattern="[^\x22\x27]*"
                                       placeholder="Nameを入力してください。" th:data-error="#{name.input.error}"
                                       th:field="*{name}"
                                       th:name="name"
                                       type="search"/>
                                <span class="help-block" th:errors="*{name}"
                                      th:if="${#fields.hasErrors('name')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control" data-error="特に不要であれば初期値を選択してください" id="selectorName"
                                        name="selectorName"
                                        required
                                        th:data-error="#{selectorName.input.required}">
                                    <option value="0">---</option>
                                    <option th:each="nameCompare : ${selectorName}"
                                            th:selected="${nameCompare.value} == *{selectorName}"
                                            th:text="${nameCompare.key}"
                                            th:value="${nameCompare.value}">pulldown
                                    </option>
                                </select>
                                <span class="help-block" th:errors="*{selectorName}"
                                      th:if="${#fields.hasErrors('selectorName')}">error!</span>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-2"></div>
                            <label class="col-lg-2 control-label">toDate</label>
                            <div class="col-lg-8 input-group input-daterange">
                                <div class="col-lg-6">
                                    <div class="input-group date" data-target-input="nearest" id="datetimepickerStart">
                                        <input class="form-control datetimepicker-input" data-target="#dateStart"
                                               placeholder="開始日を入力してください。" th:field="*{dateStart}"
                                               th:id="dateStart" th:name="dateStart" type="date"/>
                                        <div class="input-group-append" data-target="#dateStart"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group date" data-target-input="nearest" id="datetimepickerEnd">
                                        <input class="form-control datetimepicker-input" data-target="#dateEnd"
                                               placeholder="終了日を入力してください。" th:field="*{dateEnd}"
                                               th:id="dateEnd" th:name="dateEnd" type="date"/>
                                        <div class="input-group-append" data-target="#dateEnd"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-4">
                                <button class="btn btn-warning" id="reset" type="reset">リセット
                                </button>
                                <input th:id="pageSize" th:name="pageSize" type="hidden"/>
                                <input th:id="pageNumber" th:name="pageNumber" type="hidden"/>
                                <button class="btn btn-success" id="search" type="button">サーチ！
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div th:replace="./common/_SearchList :: base"/>
        <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
            $('#selectType').tooltip({
                title: [[#{selectType.default.message}]]
            }).on({
                "hide.bs.tooltip": function() {
                if ($(this).is(":focus")) return false;
              },
                "blur": function() {
                $(this).tooltip('hide');
              }
            });

        $('#datetimepickerStart').datetimepicker({
            dayViewHeaderFormat: 'YYYY年 MMMM',
            format: "YYYY/MM/DD",
            locale: moment.locale('ja'),
            buttons: {
                showClose: true
            },
            tooltips: {
                close: '閉じる',
                selectMonth: '月を選択',
                prevMonth: '前月',
                nextMonth: '次月',
                selectYear: '年を選択',
                prevYear: '前年',
                nextYear: '次年',
                selectDate: '日付を選択',
                prevDecade: '前期間',
                nextDecade: '次期間',
                selectDecade: '期間を選択'
            }
        });

        $("#datetimepickerStart").on("change.datetimepicker", function (e) {
            $('#datetimepickerEnd').datetimepicker('minDate', e.date);
        });

        $('#datetimepickerEnd').datetimepicker({
            dayViewHeaderFormat: 'YYYY年 MMMM',
            format: "YYYY/MM/DD",
            locale: moment.locale('ja'),
            buttons: {
                showClose: true
            },
            tooltips: {
                close: '閉じる',
                selectMonth: '月を選択',
                prevMonth: '前月',
                nextMonth: '次月',
                selectYear: '年を選択',
                prevYear: '前年',
                nextYear: '次年',
                selectDate: '日付を選択',
                prevDecade: '前期間',
                nextDecade: '次期間',
                selectDecade: '期間を選択'
            },
            useCurrent: false
        });

        $("#datetimepickerEnd").on("change.datetimepicker", function (e) {
            $('#datetimepickerStart').datetimepicker('maxDate', e.date);
        });

        $('#search').click(function () {
            $('#pageNumber').val(0);
            $('#pageSize').val(10);
            $('#searchForm').submit();
        });

        /*]]>*/
        </script>
    </div>
</div>
</body>
</html>